*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: 3px solid red;
	
}
body input:required:valid,
body textarea:required:valid {
	border: 3px solid green;
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}


.header_topline {
	background-color: #43484C;
	padding: 15px 0px;
	color: #fff;
}
.header_topline a {
	color: #fff;
}
.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}
.top_links a {
	text-decoration: underline;
}
.top_links a:hover {
	text-decoration: none;
}
.soc_buttons {
	float: right;
}

.soc_buttons > a {
	font-size: 26px;
	margin-left: 8px;
}

.auth_button,
.main_mnu_button {
	border: none;
	background-color: transparent;
	font-size: 26px;
}
.main_mnu_button {
	color: #fff;
	padding: 8px 15px 0px;

}

.logo {
	display: block;
	color: #fff;
	font-family: "RobotoBold";
	font-size: 40px;
	text-align: center;
	padding: 30px 0px;
}

.top_header {
	background-color: #4AAAD2;
}
.main_mnu {
	background-color: #3797bf;
	color: #fff;
	margin-bottom: 20px;
}
.main_mnu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	text-transform: uppercase;
}
.main_mnu ul li {
	display: inline-block;
}
.main_mnu a {
	color: #fff;
	padding: 15px 10px;
	display: block;
}
.top_contacts {
	float: right;
	font-size: 32px;
	padding: 0px 15px;
	background-color: #2787af;
	line-height: 52px;
}


h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoLight";
	padding: 16px 0px;
}
.slider_container {
	position: relative;
}
.slider_container img {
	max-width: 100%;
}

.next_button, 
.prev_button {
	color: #fff;
	font-size: 46px;
	position: absolute;
	z-index: 10;
	top: 37%;
	cursor: pointer;
	background-color: rgba(255,255,255,0.5);
	border-radius: 1em;
	padding: 0px 25px;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}







section.order {
	background-color: #eee;
	padding: 25px 0px;
}

.sell_desc {
	font-size: 20px;
	padding-top: 5px;
}

.button {
	background-color: #2bc6a4;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
}

.sell_right .button  {
	float: right;
}

.blog_item img {
	max-width: 100%;
}

.right_aside {
	padding: 15px 20px;
	background-color: #eee;
	margin-top: 30px;
}

section.main_content .container {
	padding: 0;
}